html {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table;
}

body {
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}

#messages {
	padding: 20px;
}

p#count_num {
	font-size: 20vw;
}

p#sorena {
	font-size: 10vw;
}